@mixin parallax-img($img_url) {
    background-image: url($img_url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin tex {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}